<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

    <title>길드원 소개</title>

    <style>
        .mypost {
            width: 95%;
            max-width: 500px;
            margin: 20px auto 0px auto;
            padding: 20px;
            box-shadow: 0px 0px 3px 0px gray;

            display: none;
        }
    </style>
    <script>
        function open_box() {
            $('#post-box').show()
        }

        function close_box() {
            $('#post-box').hide()
        }

        function posting() {
            let CharacterID = $('#CharacterID').val()
            let nick = $('#nick').val()
            let comment = $('#comment').val()

            $.ajax({
                type: 'POST',
                url: '/chan2',
                data: {CharacterID_give: CharacterID, nick_give: nick, comment_give: comment},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }
    </script>
</head>
<body>
<div class="mytitle">
    <h1>길드원 방명록란</h1>
    <button onclick="open_box()">방명록남기기</button>
</div>
<div class="mypost" id="post-box">
    <div class="form-floating mb-3">
        <input id="CharacterID" type="email" class="form-control" placeholder="name@example.com">
        <label>ID</label>
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="nick">누구에게?</label>
        <select class="form-select" id="nick">
            <option selected>-- 선택하기 --</option>
            <option value="1">길드장</option>
            <option value="2">길드원1</option>
            <option value="3">길드원2</option>
            <option value="4">길드원3</option>
            <option value="5">길드원4</option>
        </select>
    </div>
    <div class="form-floating">
        <textarea id="comment" class="form-control" placeholder="Leave a comment here"></textarea>
        <label for="comment">코멘트</label>
    </div>
    <div class="mybtns">
        <button onclick="posting()" type="button" class="btn btn-dark">기록하기</button>
        <button onclick="close_box()" type="button" class="btn btn-outline-dark">닫기</button>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col">
        <div class="card">
            <a href="http://localhost:5002/"><img src="https://life.nscworld.net/wp-content/uploads/2021/10/image-6.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Lv</h5>
                <h5 class="card-title">닉네임</h5>
                <p class="card-text">한줄tmi</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="http://localhost:5003/"><img src="https://cdn.bokjitimes.com/news/photo/202002/22767_15736_3416.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Lv</h5>
                <h5 class="card-title">닉네임</h5>
                <p class="card-text">한줄tmi</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="http://localhost:5004/"><img src="https://img.khan.co.kr/news/2020/10/16/2020101601001687000138341.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Lv</h5>
                <h5 class="card-title">닉네임</h5>
                <p class="card-text">한줄tmi</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="http://localhost:5005/"><img src="http://cdn.bosa.co.kr/news/photo/202104/2148002_180500_2337.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Lv</h5>
                <h5 class="card-title">닉네임</h5>
                <p class="card-text">한줄tmi</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="http://localhost:5006/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREO0dHWH79pj5zOxhVRMWwYhxi40eXoJgarg&usqp=CAU" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Lv</h5>
                <h5 class="card-title">닉네임</h5>
                <p class="card-text">한줄tmi</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>